{% extends 'all-awards/base.html' %}

{% block content %}
{{block.super}}
<html>
    <head>
            <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <boby>
            

            <div class="container" id="index"   >
                    <div class="row" >
                          
                              
                        <h1> WELCOME TO PROJECT</h1>

                                  


                       
        {% for im in projects%}
        {%if im.id%}
        <div class="col-md-3" id="im"> 
            <a href="{% url 'more' im.id %}" ><img src="{{im.image.url}}"  class="img-responsive" alt="" ></a>     
        </div> 
        {%endif%}
        {%endfor%}


</div>
</div>
</boby>
</html>
{% endblock %}
