{%extends 'all-awards/base.html'%} 
{% block content %}

<div class="container-fluid">
  <div class="row">
    
    {% if project_found %}
      <center><h2 style="color:maroon">{{ project_found |length }}  {{message}} Found</h2></center>
    {% else %}
      <h2> No search images {{message}}</h2>
    {% endif %}

  </div>

  
    <div class="row">
     
          {% if project_found %}
          {% for im in project_found %}
          <div class="col-md-3">
                <img src="{{im.image.url}}">
                <p>{{im.description}}</p>
                
            </div>
          {% endfor %}
        {% endif %}
        </div>
    </div>

 
       
      
{% endblock %}